* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

#load {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h4 {
  margin-bottom: 10px;
} 

div.parent-container {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid black; 
}

.fieldset {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid black;
  overflow: hidden;
}

.fieldset:nth-child(1) {
  min-width: 40vw;
  width: 40%;
}

.fieldset:nth-child(2) {
  width: 60%;
}

.block {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

@media only screen and (max-width: 768px) {
  div.parent-container {
    flex-wrap: wrap;
  }
  .fieldset {
    width: 100% !important;
  }
}

#web3details div {
  margin-bottom: 15px;
}

#web3details label {
  display: block;
}

#web3details input, #web3details textarea, #web3details select, select#contract_list {
  padding: 10px;
  border: 1px solid black;
  width: 100%;
  max-width: 600px;
}

input:disabled, textarea:disabled {
  cursor: not-allowed;
}

/* #web3details input, #web3details textarea {
} */

#web3details button, #delete_contract, #select_contract {
  padding: 10px 20px;
  color: white;
  border-width: 1px;
  border-style: solid;
  background-color: black;
  border-color: black;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

#web3details button:disabled, #delete_contract:disabled, #select_contract:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

li {
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
  color: white;
}

li:nth-child(1) {
  background-color: orange;
}

li:nth-child(2) {
  background-color: red;
}

li:nth-child(3) {
  background-color: darkblue;
}

p.heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn {
  padding: 10px 20px;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.callbtn {
  background-color: darkblue;
  border-color: darkblue;
  cursor: pointer;
}

.nonpaybtn {
  background-color: orange;
  border-color: orange;
  cursor: pointer;
}

.paybtn {
  background-color: red;
  border-color: red;
  cursor: pointer;
}

.group {
  padding: 20px 15px;
  border-top: 1px solid black;
}

.inputdata {
  padding: 10px;
  border: 1px solid black;
  margin: 5px 0 5px 5px;
  border-radius: 5px;
}

#connectwallet {
  padding: 10px 20px;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
}

/* GH Corner */

.github-corner {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

.foot {
  width: calc(100% - 20px);
  text-align: center;
  font-size: 18px;
  position: fixed;
  bottom: 0;
  left: 10px;
  padding: 15px;
  background: #f4f4f4;
  border-top: 1px solid;
}

.foot a {
  color: black;
}

@keyframes octocat-wave {
  0%, 100% {
      transform: rotate(0)
  }
  20%, 60% {
      transform: rotate(-25deg)
  }
  40%, 80% {
      transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
      animation: none
  }
  .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out
  }
}