* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
  padding: 10px;
}

h1,
h4 {
  margin-bottom: 10px;
} 

div.parent-container {
  display: flex;
  gap: 15px;
}

fieldset {
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

fieldset:nth-child(1) {
  min-width: 40vw;
  width: 40%;
}

fieldset:nth-child(2) {
  width: 60%;
}

@media only screen and (max-width: 768px) {
  div.parent-container {
    flex-wrap: wrap;
  }
  fieldset {
    width: 100% !important;
  }
}

legend {
  padding: 0 5px;
  font-weight: bold;
}

#web3details div {
  margin-bottom: 15px;
}

#web3details label {
  display: block;
}

#web3details input, #web3details textarea, #web3details select, select#contract_list {
  padding: 10px;
  border: 1px solid black;
  width: 600px;
}

#web3details input, #web3details textarea {
  width: 100%;
}

#web3details button, #delete_contract {
  padding: 10px 20px;
  color: white;
  border-width: 1px;
  border-style: solid;
  background-color: black;
  border-color: black;
  width: 150px;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}

li {
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
  color: white;
}

li:nth-child(1) {
  background-color: orange;
}

li:nth-child(2) {
  background-color: red;
}

li:nth-child(3) {
  background-color: darkblue;
}

p.heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.btn {
  padding: 10px 20px;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.callbtn {
  background-color: darkblue;
  border-color: darkblue;
}

.nonpaybtn {
  background-color: orange;
  border-color: orange;
}

.paybtn {
  background-color: red;
  border-color: red;
}

.group {
  padding: 20px 15px;
  border-top: 1px solid black;
}

.inputdata {
  padding: 10px;
  border: 1px solid black;
  margin: 5px 0 5px 5px;
  border-radius: 5px;
}

#connectwallet {
  padding: 10px 20px;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
}

/* GH Corner */

.github-corner {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

.foot {
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.foot a {
  color: black;
}

@keyframes octocat-wave {
  0%, 100% {
      transform: rotate(0)
  }
  20%, 60% {
      transform: rotate(-25deg)
  }
  40%, 80% {
      transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
      animation: none
  }
  .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out
  }
}